.vscode/
*.code-workspace
.idea/
test/
examples/
go.work
go.work.sum
test.yaml
venv
.env
.DS_Store
*.exe
*.dll
*.so
*.log
*.zip
*.rar
*.tar.gz
*.jar
*.test
*.out

*.exe~
*.dylib
*.test
*.iml
vendor/
gopath/

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go